<div [ngClass]="{
        'panel-success': server.leader,
        'panel-danger': server.follower,
        'panel-warning': server.candidate
    }"
    class="panel">
    <div class="panel-heading">
        <ul class="nav nav-pills">
            <li>
                <a href="#" *ngIf="!enableLogging" (click)="enableLogging = !enableLogging"> Enable Logging </a>
                <a href="#" *ngIf="enableLogging" (click)="enableLogging = !enableLogging"> Disable Logging </a>
            </li>
            <li>
                <a href="#" *ngIf="server.leader" (click)="clearAppendEntriesTimer();"> Halt Server </a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="row">
            <!-- Server configuration table -->
            <div class="col-xs-5">
                <table class="table">
                    <tr> 
                        <td>
                            <b>ID</b>
                        </td>
                        <td>
                            {{ server.id }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Status</b>
                        </td>
                        <td *ngIf="server.leader">
                            Leader
                        </td>
                        <td *ngIf="server.follower">
                            Follower
                        </td>
                        <td *ngIf="server.candidate">
                            Candidate
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Current Term</b>
                        </td>       
                        <td>
                            {{ server.currentTerm }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Election Timeout</b>
                        </td>
                        <td>
                            {{ server.electionTimeout }}
                        </td>
                    </tr>
                </table>
            </div>
            <div *ngIf="messageLogs.length" class="col-xs-7 status-message-container">
                <!-- Server status messages -->
                <ul>
                    <li class="status-message" *ngFor="let log of messageLogs">
                        {{ log }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>